body {
  background-color: black;
  display: flex;
}
.header {
  min-height: 30vh;
  background-color: black;
  color: beige;
  text-align: center;
  margin: 2rem;
  border-bottom: white solid 1rem;
}
.header h1 {
  font-size: 4rem;
}
.order{
  padding: 2rem;
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
}
form {
  background-color: #ffffff;
  opacity: 0.6;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
}
label, input {
  padding: 0.5rem;
}
.customer-details {
  margin-left: 2rem;
  padding: 0.5rem;
}
.pizza-info {
  margin-left: 2rem;
  padding: 0.5rem;
}
#video {
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}